.button {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: var(--spacing-small);
  border: var(--border);
  padding: var(--spacing-regular);
  justify-self: center;
  font-size: var(--font-size-regular);
  font-weight: bold;
  margin-bottom: var(--spacing-small);
}
.button:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}
.buttonDisabled {
  pointer-events: none;
  opacity: 0.5;
}
.spinner {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
